*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary: #E6533C;
    --secondary: #000;
    --white-gray: #ffffff50;
}
p{
    color: var(--white-gray);
}
@font-face {
    font-family: "miama";
    src: url(../Font/Miama.ttf) format('truetype');
}
.container{
    max-width: 71%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
/* Navbar SEction */
header{
    background-color: #000; 
}
.full-banner-section{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.menubar-section {
	justify-content: space-between;
	padding-top: 35px;
	align-items: center;
}
.logo {
	font-size: 36px;
	font-weight: 800;
	font-style: italic;
    color: var(--primary);
}
.menu-bar ul {
	list-style: none;
	gap: 20px;
	border: 1px solid var(--white-gray);
	padding: 5px;
	border-radius: 30px;
}
.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
    transition: 0.3s;
}
.menu-bar ul li a:hover{
    background: var(--primary);
    font-weight: 500;
}
.mobile-menu-bar{
    display: none;
}
.mobile-menu-bar span {
	color: white;
	font-size: 22px;
	cursor: pointer;
}
/* Banner Section */
.banner-content-wrap{
    justify-content: space-between;
}
.banner-content h1 {
	font-size: 78px;
	color: white;
	/* padding-right: 18%; */
}
.banner-content {
	width: 48%;
    padding: 100px 0;
}
.banner-content h1 strong {
    font-family: "miama";
    font-size: 185px;
    display: inline-block;
    line-height: 130px;
    font-weight: 300;
}
.banner-content p {
	margin: 24px 0;
	font-size: 16px;
	line-height: 27px;
}
/* Btn style */
.button-banner {
    gap: 20px;
}
.btn-primary {
    display: inline-block;
    padding: 15px 30px;
}
.btn-primary {
    display: inline-block;
    padding: 20px 50px;
    background: var(--primary);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
button.btn-primary.btn-outline {
    border: 1px solid white;
    background: transparent;
    padding: 19px 49px;
}
/* image side */
.banner-img{
    width: 48%;
    text-align: right;
    position: relative;
}
.banner-img img{
    height: 100%;
}
.video-tutorial {
    background: rgba(48, 48, 48, 0.536);
    display: inline-block;
    padding: 20px 33px;
    border-radius: 8px;
    border: 1px solid #4a4a4a;
    text-align: left;
}
.video-tutorial h2 {
    font-size: 24px;
    font-weight: 800;
    color: white;
}
.circle {
    width: 40px;
    height: 40px;
    background: var(--primary);
    border-radius: 50%;
}
.image-left {
    position: absolute;
    bottom: 29%;
    left: 14%;
    padding: 20px 25px;
}
.image-right {
    position: absolute;
    top: 27%;
    right: -12%;
}
.image-right h2 {
    font-size: 40px;
}
.video-tutorial.image-left {
    display: flex;
    gap: 13px;
    align-items: center;
}